/* 引入字型 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

/* 自訂屬性 */
/* 使用 -- 表示其為自訂義屬性*/
/*  : 表示 pseudo class 的意思 */
/* pseudo class is used to define the special state of the elements. */
/* :root 用於定義全局的CSS變數 */
/* 全域變數 */
/* 易於修改 */
/* 主題切換 */
/* 統一風格 */

:root {
    --light-color: #fff;  /* 主要的亮色，白色 */
    --light-color-alt: #afb6cd;  /* 替代的亮色，淡藍灰色 */
    --primary-background-color: #131417;  /* 主要的背景顏色，深灰色 */
    --secondary-background-color: #252830;  /* 次要的背景顏色，深藍灰色 */
    --hover-light-color: var(--light-color);  /* 鼠標懸停時的亮色 */
    --hover-dark-color: var(--primary-background-color);  /* 鼠標懸停時的暗色 */
    --gradient-color: linear-gradient(115deg, #4fcf70, #fad648, #a767e5, #12bcfe, #44ce7b);  /* 線性漸變色 */
    --transparent-light-color: rgba(255, 255, 255, .05);  /* 半透明的亮色 */
    --transparent-dark-color: rgba(0, 0, 0, .75);  /* 半透明的暗色 */
    --font-family: 'Poppins', sans-serif;  /* 字體家族，優先使用 'Poppins'，其次為 sans-serif */
    --font-size-xsm: 1.2rem;  /* 極小的字體大小 */
    --font-size-sm: 1.6rem;  /* 小的字體大小 */
    --font-size-md: 2.4rem;  /* 中等的字體大小 */
    --font-size-lg: 3rem;  /* 大的字體大小 */
    --font-size-xl: 4rem;  /* 超大的字體大小 */
    --gap: 2rem;  /* 元素之間的間距 */
    --margin-sm: 2rem;  /* 小的外邊距 */
    --margin-md: 3rem;  /* 中等的外邊距 */
    --item-min-height-sm: 20rem;  /* 小的元素最小高度 */
    --item-min-height-md: 30rem;  /* 中等的元素最小高度 */
}

/* 基本樣式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;  /* 將基準字體大小設定為 62.5%（等同於 10px），用於方便使用 rem 單位 */
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size-sm);
    color: var(--light-color-alt);                            /* 文字顏色 */
    background-color: var(--primary-background-color);        /* 背景顏色 */
    letter-spacing: 1px;                                      /* 字母間距 */
    transition: background-color .25s, color .25s;  /* 使用過渡效果，0.25秒內完成背景和文字顏色的變化 */
}

a {
    text-decoration: none;  /* 移除超連結的下劃線 */
    color:inherit;
}

img{
    max-width: 100%;
    display:block;
}

ul{
    list-style: none;

}
input,button{
    font:inherit;
    color:inherit;
    border:none;
    background-color: transparent;
    outline: none;
}

i{
    font-size: var(--font-size-md);
}
/* Theme color change */
body.light-theme{
    --light-color: #3d3d3d;  /* 主要的亮色，白色 */
    --light-color-alt: rgba(0,0,0,.6);  /* 替代的亮色，淡藍灰色 */
    --primary-background-color: #fff;  /* 主要的背景顏色，深灰色 */
    --secondary-background-color: #f1f1f1;  /* 次要的背景顏色，深藍灰色 */
    --hover-light-color: #fff;  /* 鼠標懸停時的亮色 */
    --transparent-light-color: #252980;  /* 半透明的亮色 */
    --transparent-dark-color: rgba(0, 0, 0, ..1);  /* 半透明的暗色 */
}



/* Reusable classes */
/* rem 是 css 的一種單位，表示相對於根元素字體大小的單位 */
.container{
    max-width: 160 rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.place-items-center{
    /* Flexbox 是一種布局模型，用於設計及排列元素 */
    display: inline-flex;
    align-items: center;
    justify-content:center;
}

.screen-sm-hidden{
    display:none;
}
/* Header */
.header{
    background-color: var(--secondary-background-color);
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 999;
}

.navbar{
    display:flex;
    align-items:center;
    justify-content: space-between;
}
/* Header JavaScript Styles */

/* Search */

/* Form JavaScript styles */

/* Featured articles */

/* Featured articles - Sidebar */

/* Quick read */

/* Quick read - Swiper */

/* Older posts */

/* Popular tags */

/* Newsletter */

/* Footer */

/* Scrollbar styles */

/* Blog post */

/* Media queries */